@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;400;600&family=Roboto+Slab:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;400;600&family=Roboto+Slab:wght@300;500&display=swap');

:root{
    --primaryColor: #1D5D9B;
    --secondColor: #75C2F6;
    --neoncolor: #8CC0DE;
    --accentColor: #F4D160;
    --lightColor: #FBEEAC;
    --ligthGrey: #C0C0C0;
    --newcolor: #DAC0A3;
    --footerColor1: #F8F0E5;
    --fontRoboto: 'Roboto Slab', serif;
    --fontKrona: 'Krona One', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: var(--secondColor);
}

.container_login{
    background-image: url("https://github.com/Lene-Kristel/Projeto_Amigo_dos_Animais/blob/main/Assets/dog3.big.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.25rem;
}

.container_login_links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login__link{
    width: 20rem;
    background: var(--primaryColor);
    color: var(--lightColor);
    text-align: center;
    font-family: var(--fontRoboto);
    font-weight: 400;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

.login__link:hover{
   color: var(--primaryColor);
    background: linear-gradient(var(--lightColor),var(--newcolor));
    font-size: 1.5rem;
}

body{
    display: grid;
    grid-template-rows: 50% 50%;
   
}

.content__img{
    height: 18.75rem;
    box-shadow: 0.625rem 0.625rem 0.313rem #2c2b2b;
}

.container_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 0;
    padding: 8% 9% 0 9%;
}

.accent__text{
    color: var(--accentColor);
    font-size: 2rem;
}

.text__titulo{
    color: var(--primaryColor);
    margin-bottom: 1rem;
    font-family: var(--fontKrona);
    font-size: 1.55rem;
}

.container_content_tex{
    text-align: justify;
    font-size: 1.5rem;
}

.footer_page{
    padding: 2% 0;
    text-align: center;
    align-items: center;
    background: linear-gradient(var(--lightColor), var(--footerColor1));
    margin-top: 8%;
}

.footer_page_sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_title{
    color: #000;
    font-family: var(--fontKrona);
    font-weight: 200;
}

.footer_text{
    color: #000;
    font-family: var(--fontRoboto);
    font-weight: 200;
}

.mylinkedin:visited {
    color: #000;
}